<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <title>VISA Anywhere</title>
    
    <style>
        .visa{
          background-color: #00276a;
        }
        
      </style>
  </head>
  <body>
    <nav id="visa-nav" class="navbar navbar-expand-lg navbar-dark visa">
      <img class="navbar-brand" style="position:absolute;top:20px;width: 7rem;" src="https://cdn.visa.com/cdn/assets/images/logos/visa/logo.png" alt="Visa logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    </div>
    <div class="mb-6 my-3 jumbotron">
        <h1 class="display-4">VISA Anywhere</h1>
        <br>
        <p class="lead" style="font-size: 1.8rem;">You stay at home, We'll manage the queue, for you!!</p>
        <hr class="my-4">
        <p style="font-size: large;">Buy all your daily needs from this virtual window, from the stores nearby your location, only with VISA Anywhere! </p>
        <p class="lead">
          <a class="btn btn-success btn-lg" href="shop/" role="button">Register</a>
          <a class="btn btn-success btn-lg" href="shop/login" role="button">Log In</a>
        </p>
      </div>
    </nav>
    </body>
    </html>