<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Merchant- Visa Anywhere</title>
  <style>
    .visa{
        background-color: #00276a;
      }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark visa">
    <img class="navbar-brand" style="width: 7rem;" src="https://cdn.visa.com/cdn/assets/images/logos/visa/logo.png" alt="Visa logo">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/shop">My Inventory <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'shop:product_add' %}">Add to Inventory</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'shop:mer_order_list' %}">My Orders</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <a href="{% url 'shop:logout' %}"><button class="btn btn-success" type="button">Logout</button></a>
      {% else %}
      <a href="{% url 'shop:login' %}"><button type="button" class="btn btn-success">Log In</button></a>
      {% endif %}
    </div>
    
  </nav>

  <div class="container my-3">
    <h1>Order Details</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"><strong>Order Details<strong></td>
        </tr>
        <tr>
          <td>Order ID</td>
          <td>{{order.order_id}}</td>
        </tr>
        <tr>
          <td>Items Ordered</td>
          <td>{{order.items_json}}</td>
        </tr>
        <tr>
          <td>Mode of Getting Items</td>
          {% if order.is_delivery %}
          <td>Home Delivery</td>
          {% else %}
          <td>Drive-In</td>
          {% endif %}
        </tr>
        <tr>
          <td>Current Order Status</td>
          <td id="order_stat">{{order.order_status}}</td>
        </tr>
        <tr>
          <td>Order Time</td>
          <td>{{order.time}}</td>
        </tr>
        <tr>
          <td>Slot-Selected by Customer</td>
          <td>{{order.est_time}}</td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td>{{order.price}}</td>
        </tr>
        <tr>
          <td colspan="2"><strong>Customer Details</strong></td>
        </tr>
        <tr>
          <td>Customer Name</td>
          <td>{{order.user.name}}</td>
        </tr>
        <tr>
          <td>Customer Address</td>
          <td>{{order.user.address}}</td>
        </tr>
        <tr>
          <td>Customer Phone</td>
          <td>{{order.user.phone}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div id="select_action" class="container my-3">
    <h1>Select Order Action</h1>
    <form action="{% url 'shop:mer_order_detail' order.order_id %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
      <div class="radio my-4">
        <label><input type="radio" id="accept" name="order_status" value="Accept Order" required>Accept Order</label>
        <br>
        <label><input type="radio" id="reject" name="order_status" value="Reject Order">Reject Order</label>
      </div>
      <div class="form-group col-md-4" style="display: none;" id="tim"> 
          <label for="inputState">Select Preferrable Time in Slot</label>
          <select name="time" id="inputState" class="form-control">
              <option selected>Choose</option>
              {% for key in list_time %}
              <option>{{key}}</option>
              {% endfor %}
          </select>
      </div>
    <br>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script>
    var stat=document.getElementById('order_stat').innerHTML;
    var x=document.getElementById('select_action');
    if(stat!=="Action Pending")
      x.style.display="none";

  $(()=> {
    $('input[name="order_status"]').on('click', ()=> {
      var y=document.getElementById('tim');
      if(document.getElementById('accept').checked)
      y.style.display="block";
      else
      y.style.display="none";
})});

</script>
</body>

</html>