{% extends 'shop/basic.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
{% endblock %}
{% block title%} Order Detail - Visa Anywhere{% endblock %}
{% block body %}

<div id="aler1" style="display:none;" class="alert alert-primary" role="alert">
  Merchant has suggested you to come at {{order.est_time}} to avoid the crowd. Your items will be packed by then. Keep Shopping!!
</div>
<div id="aler2" style="display:none;" class="alert alert-primary" role="alert">
  Your items will be safely delivered by {{order.est_time}}. Keep Shopping!!
</div>
<div class=" col-4 container my-0">
      <strong><section id="section_" class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <br>
                                        <span class="subtitle">{{city_weather.temperature}}</span>
                                        <br> {{city_weather.description}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section></strong>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"><strong>Order Details<strong></td>
        </tr>
        <tr>
          <td>Order ID</td>
          <td>{{order.order_id}}</td>
        </tr>
        <tr>
          <td>Items Ordered</td>
          <td>{{order.items_json}}</td>
        </tr>
        <p style="display:none;" id="order_deli">{{order.is_delivery}}</p>
        <tr>
          <td>Mode of Getting Items</td>
          {% if order.is_delivery %}
          <td>Home Delivery</td>
          {% else %}
          <td>Drive-In</td>
          {% endif %}
        </tr>
        <tr>
          <td>Current Order Status</td>
          <td id="order_stat">{{order.order_status}}</td>
        </tr>
        <tr>
          <td>Order Time</td>
          <td>{{order.time}}</td>
        </tr>
        <tr>
          <td>Expected Order Completion Time</td>
          <td>{{order.est_time}}</td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td>Rs. {{order.price}}</td>
        </tr>
        <tr>
          <td colspan="2"><strong>Merchant Details</strong></td>
        </tr>
        <tr>
          <td>Merchant Name</td>
          <td>{{order.merchant.name}}</td>
        </tr>
        <tr>
          <td>Merchant Address</td>
          <td>{{order.merchant.address}}</td>
        </tr>
        <tr>
          <td>Merchant Phone</td>
          <td>{{order.merchant.phone}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div style="display:none">
      <form name="payment_form" action="{% url 'shop:user_order_detail' order.order_id %}" method="POST">{% csrf_token %}
        <input style="display:none" type="text" name="payment" id="payment">
      </form>
    </div>
    <div id="select_action" class="container my-3" style="display:none;" >
      <img alt="Visa Checkout" class="v-button" role="button"
      src="https://sandbox.secure.checkout.visa.com/wallet-services-web/xo/button.png" />
      <script type="text/javascript"
      src="https://sandbox-assets.secure.checkout.visa.com/checkout-widget/resources/js/integration/v1/sdk.js">
      </script>
    </div>

    <!--div id="select_action" class="container my-3" style="display:none;">
    <form action="#" method="post" enctype="multipart/form-data"> {% csrf_token %}
      <button type="submit" class="btn btn-success">Proceed to Payment</button>
    </form>
  </div--->
{% endblock %}
{% block js %}

<script type="text/javascript">
  var price=document.getElementById('order_price').innerHTML;
  function onVisaCheckoutReady() {
  V.init( {
  apikey: "NEJQ37EGFKDAS3M8UO6C21eUczMcgFSoWyfqeMkO3zKxLS8yY",
  encryptionKey: "3J5T87A0TPCR8AT9BDNK13wFGGi9o_fcxHCpLx107zSGC83c0",
  paymentRequest: {
  currencyCode: "INR",
  subtotal: `${price}`
  }
  });
  V.on("payment.success", function(payment) { alert('Payment Successful!');var alpha=document.getElementById('payment');alpha.value="success";document.forms["payment_form"].submit();});
  V.on("payment.cancel", function(payment) { alert('Payment Cancelled!');var alpha=document.getElementById('payment');alpha.value="cancel";document.forms["payment_form"].submit();});
  V.on("payment.error", function(payment, error) { alert('Payment Error!');var alpha=document.getElementById('payment');alpha.value="error";document.forms["payment_form"].submit();});
  }
  
</script>

<script>
    var stat=document.getElementById('order_stat').innerHTML;
    var x=document.getElementById('select_action');
    if(stat=="Approved")
      x.style.display="block";

    var state=document.getElementById('order_deli').innerHTML;
    var ye=document.getElementById('aler1');
    var ze=document.getElementById('aler2');
    if(state=="False" && (stat=="Approved" || stat=="Payment Successful"))
      {ye.style.display="block";}
    else if(stat=="Approved" || stat=="Payment Successful") 
      ze.style.display="block";


    //Find out the cart items from localStorage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
        updateCart(cart);
    }
    //Add Popover to cart
    $('#popcart').popover();
    updatePopover(cart);
    
    function updatePopover(cart){
      var popStr="";
      popStr=popStr + "<h6>Items in your cart</h6><div class='mx-2 my-2'>";
      var i=1;
      let id=-1;
      for(var item in cart){
          popStr=popStr + "<b>"+ i + "</b>. ";
          popStr=popStr+cart[item][1] + "... Qty: "+ cart[item][0]+ '<br>';
          i=i+1;
          id=cart[item][3];
      }
      var locate = "{% url 'shop:checkout' 12345 %}".replace(/12345/, id.toString());
      if(id!=-1)
      popStr=popStr+`</div><a href=${locate}><button id='checkout' class='btn btn-success'>Checkout</button></a> <button id='clearCart' onclick='clearCart()' class='btn btn-success'>Clear Cart</button>`;
      document.getElementById("popcart").setAttribute('data-content', popStr);
      $('#popcart').popover('show');
    }
    function updateCart(cart) {
        localStorage.setItem('cart', JSON.stringify(cart));
        var count=0;
        for(var i=0;i<Object.keys(cart).length;i++)
        count=count+Object.values(cart)[i][0];
        document.getElementById('cart').innerHTML = count;
        updatePopover(cart);
    }
    function clearCart(){
        cart=JSON.parse(localStorage.getItem('cart'));
        localStorage.clear();
        cart={};
        updateCart(cart);
    }
</script>

{% endblock %}


